{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{name}}!
</h1>
<div class="field">
  <a href="/Home/nouvelleQuestion" class="button">Créer une nouvelle question</a>
  <a href="/Home/listeQuestions" class="button">Accéder aux questions</a>
  <a href="/Home/pageDeQuestions" class="button">Générer une page de questions</a>
  <a href="/Home/compteEtudiants" class="button">Créer des comptes étudiants</a>
  <br><br>
  <a href="/Home/genererControle" class="button">Générer un contrôle</a>
  <br>
  <a href="/Home/nuageDeMot" class="button">Générer une question ouverte avec nuage de mot</a>
  <a href="/Home/nuageDeMotEtudiant" class="button">Répondre à une question nuage</a>
</div>

{% endblock %}
